<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="false" />

    <application>
        <!-- DJI SDK API key -->
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="${DJI_API_KEY}" />

        <provider
            android:name="com.sok9hu.djibridge.DJIStartupProvider"
            android:authorities="${applicationId}.djibridge.startup"
            android:exported="false"
            android:initOrder="100" />

        <activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/dji_accessory_filter" />
        </activity>
    </application>
</manifest>
